body {
    width: 98%;
    height: 625px;
    border: solid;

}

<<<<<<<< HEAD:V0.1/estilo.css
#top{
========
#top {
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 15%;
    background-color: #302038;
}

#bot {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15%;
    background-color: #a50f8d;
}

<<<<<<<< HEAD:V0.1/estilo.css
#mid{
========
#mid {
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    height: 70%;
<<<<<<<< HEAD:V0.1/estilo.css
    
========

>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    background-color: #f794fc;
}

#izq {
<<<<<<<< HEAD:V0.1/estilo.css
========

>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    width: 52%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#der {
<<<<<<<< HEAD:V0.1/estilo.css
========

>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    width: 48%;
    display: flex;

}

<<<<<<<< HEAD:V0.1/estilo.css
#imgSetup{
    width:98%;
========
#imgSetup {
    width: 98%;
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
}

#regist {
    color: white;
    width: 55%;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8c3e85;
<<<<<<<< HEAD:V0.1/estilo.css
    
}

.fallo{
========

}

.fallo {
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    color: red;
    display: flex;
    flex-wrap: nowrap;
}

<<<<<<<< HEAD:V0.1/estilo.css
label{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.sexo1{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

button{
========
label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sexo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

button {
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
    display: flex;
    align-content: center;
    justify-content: center;
}

<<<<<<<< HEAD:V0.1/estilo.css
@media only screen and (max-width: 900px) {

    #der{
        display: none;
    }
    #der img {display: none;}
    #izq{
========
#alertCentro {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    z-index: 100;
    width: 98%;
    height: 96%;
    border-radius: 15px;
    background-color: rgba(26, 19, 17, 0.534);
    justify-content: center;
    align-content: center;
}

#cuadroAlert {
    justify-content: center;
    align-items: center;
    border: solid;
    flex-wrap: wrap;
    display: flex;
    width: 40%;
    background-color: rgb(35, 165, 165);

}

#alertCentro p {
    text-align: center;
    width: 100%;
    font-size: 1.2em;
}

#accept {
    width: 10%;
}

@media only screen and (max-width: 900px) {

    #der {
        display: none;
    }

    #der img {
        display: none;
    }

    #izq {
>>>>>>>> 2ea369d3026138467c2270f2ad86921a228140b3:CSS/estilo.css
        width: 100%;
    }
}
